/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:

  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}
/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
  In fact, it *will* cause problems with Google Maps' controls at small size.
  If this is the case for you, try uncommenting the following:

#map img {
    max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  align-items: flex-start;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/* Progress */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  /* Safari 4+, Chrome */
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  /* Firefox 3.6-15 */
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Cube + Flip */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Cube */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body {
  background-color: #f3f3f3;
}
.wrap {
  margin: 0 auto;
}
.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
#logo {
  width: 274px;
  height: 60px;
  overflow: hidden;
  text-indent: -99rem;
  display: inline-block;
  text-decoration: none;
  margin: 13px 0;
  background: url(../images/logo.png) top center no-repeat;
  background-size: 100% auto;
}
#logo:hover {
  text-decoration: none;
}
#topHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-top: 30px;
  z-index: 2;
}
#topHeader .cn-wrap {
  margin: 0 auto;
  position: relative;
  width: 1024px;
  height: 86px;
}
#topHeader .cn-wrap .bg {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.9;
  width: 100%;
  height: 3.58333333rem;
  z-index: 1;
}
#topHeader .cn-wrap .cn {
  position: relative;
  z-index: 10;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
}
#topHeader .cn-wrap .cn #logo {
  float: left;
}
#topHeader .cn-wrap .cn .menu-wrap {
  float: right;
  padding-top: 12px;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem .zh {
  color: #404040;
  font-size: 16px;
  width: 4em;
  display: inline-block;
  height: 1.6em;
  border-bottom: 1px #c0c0c0 solid;
  text-align: center;
  margin-bottom: .3em;
  padding-bottom: .3em;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem:first-child .zh {
  width: 5em;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem .en {
  color: #707070;
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
  float: left;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem.on .zh,
#topHeader .cn-wrap .cn .menu-wrap .menuItem.on .en {
  color: #1f5ba3;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem.on .zh {
  border-bottom-color: #1f5ba3;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem:hover {
  text-decoration: none;
  font-weight: bold;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem:hover .zh,
#topHeader .cn-wrap .cn .menu-wrap .menuItem:hover .en {
  color: #ffb636;
}
#topHeader .cn-wrap .cn .menu-wrap .menuItem:hover .zh {
  border-bottom-color: #ffb636;
}
#copyRight {
  margin: 0 auto;
  height: 120px;
  background: #313131;
  color: #b9b9b9;
  font-size: 16px;
  width: 100%;
  max-width: 1366px;
  overflow: hidden;
  clear: both;
}
#copyRight .bMenu {
  float: left;
  display: inline-block;
}
#copyRight .bMenu li {
  float: left;
  text-align: center;
  width: 10em;
  border-left: 1px solid #b9b9b9;
}
#copyRight .bMenu li:first-child {
  border-left: none;
}
#copyRight .bMenu li a {
  color: #b9b9b9;
  text-decoration: none;
}
#copyRight .bMenu li a:hover {
  text-decoration: none;
}
#copyRight .copyright {
  float: right;
}
#copyRight .crCn {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 48px;
}
#swiper {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
#swiper .swiper-container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
#swiper .swiper-container .swiper-wrapper {
  width: 100%;
}
#swiper .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
}
#swiper .swiper-container .sBtn {
  width: 37px;
  height: 69px;
  display: inline-block;
}
#swiper .swiper-container .swiper-button-next {
  right: 0px;
  width: 37px;
  height: 69px;
  display: inline-block;
  background: url(../images/banner_rowR.png) left center no-repeat;
}
#swiper .swiper-container .swiper-button-prev {
  left: 0px;
  width: 37px;
  height: 69px;
  display: inline-block;
  background: url(../images/banner_rowL.png) right center no-repeat;
}
#swiper .swiper-container .swiper-pagination {
  bottom: 25px;
}
#swiper .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 21px;
  height: 8px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 4px;
}
#swiper .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e78925;
}
.icon {
  display: inline-block;
  width: 65px;
  height: 65px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left center;
}
.icon-sale {
  background-image: url(../images/icon_TouZi.png);
}
.icon-ai {
  background-image: url(../images/icon_ZhiNeng-.png);
}
.icon-medical {
  background-image: url(../images/icon_Medical.png);
}
.icon-other {
  background-image: url(../images/icon_Other.png);
}
.icon-finance {
  background-image: url(../images/icon_Finance.png);
}
.brandWrap {
  max-width: 1366px;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 40px 0 70px 0;
}
.brandWrap.even {
  background: #f6f3f7;
}
.brandWrap .brandList {
  max-width: 900px;
  margin: 0 auto;
}
.brandWrap .brandList.three {
  max-width: 680px;
}
.brandWrap .slogan {
  width: 100%;
  padding: 30px 1em 0;
  font-size: 20px;
  color: #1f5ba3;
}
.brandWrap .desc {
  font-size: 16px;
  color: #404040;
  padding: 25px 1em 0 1em;
  text-align: center;
}
.brandWrap .bList {
  padding-top: 50px;
  clear: both;
  overflow: hidden;
}
.brandWrap .bList li {
  float: left;
  width: 215px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
  margin-left: 5px;
  position: relative;
  color: #707070;
  font-size: 16px;
}
.brandWrap .bList .bItem dd {
  width: 100%;
  height: 35px;
  line-height: 35px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.brandWrap .bList .bItem .bg {
  background: #1f5ba3;
  opacity: 0.07;
  position: absolute;
  z-index: 1;
}
.brandWrap .bList .bItem dt {
  width: 230px;
  height: 42px;
  line-height: 42px;
  background: #ffb636;
  color: #fff;
  font-size: 17px;
  position: absolute;
  top: -3px;
  left: -7px;
  display: none;
  z-index: 9;
  overflow: hidden;
  white-space: nowrap;
}
.brandWrap .bList .bItem.xbItem dt {
  width: 260px;
}
.brandWrap .bList .bItem.xlbItem dt {
  width: 280px;
  left: -42px;
}
.contact {
  background: none;
}
.contactInfo {
  max-width: 996px;
  margin: 0 auto 50px;
  position: relative;
  z-index: 10;
}
.contactInfo .cn {
  padding: 40px 40px 90px;
  background: #fff;
  border-radius: 5px;
  margin-top: -120px;
}
.contactInfo .cus {
  display: inline-block;
  width: 252px;
  height: 34px;
  text-indent: -99em;
  overflow: hidden;
  background: url(../images/title_Contact.png) left center no-repeat;
}
.contactInfo .email,
.contactInfo .add {
  font-size: 16px;
  color: #707070;
  text-indent: 20px;
  height: 24px;
  line-height: 24px;
}
.contactInfo .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: -6px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.contactInfo .icon-email {
  background-image: url(../images/icon_mail.png);
}
.contactInfo .icon-add {
  background-image: url(../images/icon_addr.png);
}
.contactInfo .email {
  margin-top: 45px;
}
.contactInfo .add {
  margin-top: 25px;
}
.contactInfo .map {
  margin-top: 30px;
  margin-left: 20px;
}
.form-wrap {
  margin: 0 auto;
  min-height: 10vh;
  margin-bottom: 30px;
  margin-top: -6px;
  max-width: 1024px;
  border: 1px solid #e7e7e7;
  border-top: 5px solid #ffb636;
  position: relative;
}
.form-wrap .form-icon {
  display: inline-block;
  width: 158px;
  height: 189px;
  overflow: hidden;
  background: url(../images/tab-file.png) center top no-repeat;
  z-index: 11;
  position: absolute;
  top: -95px;
  left: 433px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.form-wrap .form-tit {
  text-align: center;
  margin-top: 125px;
  font-size: 20px;
}
.form-wrap .form-cn {
  margin-top: 55px;
}
.form-wrap .afield {
  clear: both;
  overflow: hidden;
  width: 580px;
  margin: 0 auto 20px;
}
.form-wrap .afield .t {
  float: left;
  width: 6em;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
}
.form-wrap .afield .main {
  float: right;
  width: 460px;
}
.form-wrap .afield .ainput {
  height: 45px;
  border: 1px solid #e7e7e7;
  width: 100%;
  font-size: 16px;
  padding: .5em .8em;
  box-sizing: border-box;
}
.form-wrap .afield .ainput::-webkit-input-placeholder {
  color: #c7c7c7;
}
.form-wrap .afield .ainput::placeholder {
  color: #c7c7c7;
}
.form-wrap .afield .att {
  height: 45px;
  border: 1px solid #e7e7e7;
  width: 100%;
  font-size: 16px;
  padding: .5em .8em;
  box-sizing: border-box;
  height: auto;
}
.form-wrap .afield .att::-webkit-input-placeholder {
  color: #c7c7c7;
}
.form-wrap .afield .att::placeholder {
  color: #c7c7c7;
}
.form-wrap .btn-wrap {
  padding: 10px 0 70px;
  text-align: center;
}
.form-wrap .btn-wrap .pBtn {
  border: none;
  background-color: #ffb636;
  height: 36px;
  border-radius: 5px;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 0 1.5em;
}
.helpInfo {
  width: 100%;
  height: auto;
  background: #e8e8e8;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  padding-top: 60px;
}
.helpInfo .tip-cn {
  font-size: 20px;
  color: #1f5ba3;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  text-indent: 2em;
  position: relative;
}
.helpInfo .tip-cn:before,
.helpInfo .tip-cn:after {
  position: absolute;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  content: '';
  background: url(../images/icon_05.png) 0 0 no-repeat;
}
.helpInfo .tip-cn:before {
  left: 0px;
  top: 0;
}
.helpInfo .tip-cn:after {
  bottom: 0;
  right: 0;
  background-position: 0 -118px;
}
.helpInfo .planInfo {
  margin: 0 auto;
  padding-top: 90px;
  max-width: 1024px;
  padding-bottom: 118px;
}
.helpInfo .planInfo .plan-t {
  font-size: 20px;
  color: #1f5ba3;
  padding-bottom: 20px;
  text-align: center;
}
.helpInfo .planInfo .line {
  display: block;
  font-size: 0px;
  line-height: 0px;
  border-top: 2px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  width: 72px;
  margin: 0 auto 40px;
}
.helpInfo .planInfo .planList {
  clear: both;
  overflow: hidden;
  width: 80%;
  margin-left: 20%;
}
.helpInfo .planInfo .planList .planItem {
  float: left;
  width: 50%;
  position: relative;
  font-size: 14px;
  margin-bottom: 24px;
  padding-left: 30px;
  box-sizing: border-box;
  min-height: 30px;
  line-height: 30px;
}
.helpInfo .planInfo .icon {
  width: 20px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/NUMBER.png);
  background-repeat: no-repeat;
}
.helpInfo .planInfo .icon-ol1 {
  background-position: 0 0;
}
.helpInfo .planInfo .icon-ol2 {
  background-position: -20px 0;
}
.helpInfo .planInfo .icon-ol3 {
  background-position: 0 -30px;
}
.helpInfo .planInfo .icon-ol4 {
  background-position: -20px -30px;
}
.helpInfo .planInfo .icon-ol5 {
  background-position: 0 -60px;
}
.helpInfo .planInfo .icon-ol6 {
  background-position: -20px -60px;
}
.important {
  max-width: 1366px;
  width: 100%;
  padding: 50px 0 80px;
  margin: 0 auto;
  background: #f6f3f7;
  margin-top: -6px;
}
.important .bWrap {
  max-width: 1028px;
  margin: 0 auto;
}
.important .bWrap .t1 {
  font-size: 30px;
  color: #1f5ba3;
  text-align: center;
  margin-bottom: 15px;
}
.important .bWrap .sub-t1 {
  font-size: 20px;
  color: #b9b9b9;
  text-align: center;
  margin-top: 10px;
}
.important .bWrap .gexian {
  display: block;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  width: 30px;
}
.important .bWrap .bCn {
  margin-top: 60px;
}
.important .bWrap .line {
  clear: both;
  margin-bottom: 5px;
  height: 186px;
}
.important .bWrap .line .col {
  position: relative;
  float: left;
  margin-left: 5px;
  font-size: 20px;
  color: #fff;
}
.important .bWrap .line .col .on {
  z-index: 99;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.important .bWrap .line .col1 {
  margin-left: 0;
}
.important .bWrap .col1 {
  width: 567px;
  height: 186px;
}
.important .bWrap .col1 .yaya {
  width: 187px;
  height: 186px;
  overflow: hidden;
  background: url(../images/KeyPro_Logo1.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.important .bWrap .col1 .guzhang {
  width: 260px;
  height: 77px;
  overflow: hidden;
  background: url(../images/KeyPro_Logo2.png) left top no-repeat;
  position: absolute;
  top: 0;
  left: 191px;
}
.important .bWrap .col1 .yaya-tit {
  width: 267px;
  height: 104px;
  overflow: hidden;
  color: #fff;
  background: url(../images/KeyPro_Logo1_bg.png) left top no-repeat;
  box-sizing: border-box;
  position: absolute;
  left: 185px;
  top: 82px;
  padding-top: 35px;
  text-align: center;
}
.important .bWrap .col1 .guzhang-tit {
  width: 117px;
  height: 186px;
  overflow: hidden;
  box-sizing: border-box;
  background: url(../images/KeyPro_Logo2_bg.png) left top no-repeat;
  position: absolute;
  left: 450px;
  top: 0;
  font-size: 20px;
  color: #fff;
  line-height: 1.6;
  padding: 30px 54px;
}
.important .bWrap .col2 {
  width: 453px;
  height: 186px;
}
.important .bWrap .col2 .yiqihe-tit {
  width: 224px;
  height: 109px;
  overflow: hidden;
  box-sizing: border-box;
  background: url(../images/KeyPro_Logo3_bg.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px 0 0 70px;
  z-index: 5;
}
.important .bWrap .col2 .yashen {
  width: 225px;
  height: 102px;
  background: url(../images/KeyPro_Logo4.png) left top no-repeat;
  position: absolute;
  left: 230px;
  top: 0;
}
.important .bWrap .col2 .yiqihe {
  width: 224px;
  height: 79px;
  background: url(../images/KeyPro_Logo3.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 107px;
  z-index: 1;
}
.important .bWrap .col2 .yashen-tit {
  width: 225px;
  height: 86px;
  padding: 15px 0 0 37px;
  box-sizing: border-box;
  background: url(../images/KeyPro_Logo4_bg.png) left top no-repeat;
  position: absolute;
  left: 230px;
  top: 101px;
}
.important .bWrap .line2 {
  height: 228px;
}
.important .bWrap .line2 .col1 {
  width: 452px;
  height: 228px;
}
.important .bWrap .line2 .col1 .rjm-tit {
  height: 228px;
  width: 195px;
  box-sizing: border-box;
  padding: 25px 0 0 25px;
  background: url(../images/KeyPro_Logo5_bg.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
.important .bWrap .line2 .col1 .rjm {
  height: 228px;
  width: 197px;
  background: url(../images/KeyPro_Logo5.png) left top no-repeat;
  position: absolute;
  top: 0;
  left: 193px;
  z-index: 1;
}
.important .bWrap .line2 .col1 .blank {
  width: 59px;
  height: 228px;
  background: #000;
  position: absolute;
  left: 394px;
  top: 0;
}
.important .bWrap .line2 .col2 .celltech {
  width: 286px;
  height: 151px;
  background: url(../images/KeyPro_Logo6.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.important .bWrap .line2 .col2 .guanyun-tit {
  width: 143px;
  height: 151px;
  box-sizing: border-box;
  padding: 17px 0 0 82px;
  background: url(../images/KeyPro_Logo7_bg.png) left top no-repeat;
  position: absolute;
  top: 0;
  left: 292px;
}
.important .bWrap .line2 .col2 .guanyun {
  width: 136px;
  height: 228px;
  background: url(../images/KeyPro_Logo7.png) left top no-repeat;
  position: absolute;
  top: 0;
  left: 433px;
}
.important .bWrap .line2 .col2 .celltech-tit {
  width: 427px;
  height: 79px;
  box-sizing: border-box;
  padding: 13px 0 0 13px;
  background: url(../images/KeyPro_Logo6_bg.png) left top no-repeat;
  position: absolute;
  left: 0;
  top: 150px;
}
@media screen and (max-width: 640px) {
  .helpInfo .planInfo .planList {
    margin-left: 5%;
    width: 90%;
  }
  .helpInfo .planInfo .planList .planItem {
    width: 100%;
  }
}
